html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* Improved Styles for the Invoice Table */
.invoice-table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.invoice-table th,
.invoice-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.invoice-table th {
  background-color: #dcdcdc;
  font-weight: bold;
  text-transform: uppercase; /* Uppercase the header text */
}

.invoice-table tr td {
  background-color: #f8f8f8;
  font-weight: bold;
}

.invoice-table ul {
  list-style-type: none;
  padding: 0;
}

.invoice-table li {
  margin: 5px 0;
}

.invoice-table tr:nth-child(even) td {
  background-color: #ededed; /* Lighter background for even rows */
}

/* Hover effect for rows */
.invoice-table tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.2s;
}

.logo {
  width: 350px;
  height: auto;
  margin-bottom: 0;
}
/* Define the main invoice container */
.invoice {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Define the header section with logo and company info */
.header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

.hidden-label {
  display: none;
}

.history-header {
  padding-top: -20px;
}

/* Sidebar Container */
.adminNav {
  background-color: #b0b0b0;
  color: black;
  width: 150px;
  position: absolute;
  height: 110%;
  overflow-y: auto;
  transition: width 0.3s;
  right: 1%;
}

.adminNav:hover {
  background-color: #bab8b8;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Sidebar Links */
.adminNavLinks {
  padding: 20px;
}

.adminNavLinks a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 22px;
  margin-bottom: 20px;
}

/* Cool Hover Effect */
.adminNavLinks a:hover {
  transform: scale(1.05); /* Scale the link on hover */
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Active Link Style with Click Event */
.adminNavLinks a.active {
  background-color: #555;
  color: white; /* Change text color for active link */
  transition: background-color 0.3s, color 0.3s;
  transform: scale(1.05);
}

.adminNavLinks a.active:hover {
  background-color: #555; /* Keep the background color the same on hover */
}

.infoContent {
  max-width: 800px;
  margin: -25px auto;
  padding: 20px;
  text-align: center;
}

.infoHeading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.infoParagraph {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}
