html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.invoice-table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}

.invoice-table th, .invoice-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  text-align: center;
}

.invoice-table th {
  background-color: #dcd5d8;
  font-weight: bold;
}
.invoice-table tr td {
  background-color: #ffffff;
  font-weight: bold;
}

.invoice-table ul {
  list-style-type: none;
  padding: 0;
}

.invoice-table li {
  margin: 5px 0;
}

.logo{
  width: 350px;
  height: auto;
  margin-bottom: 0;

}
/* Define the main invoice container */
.invoice {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Define the header section with logo and company info */
.header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
}

.adminNav {
  background-color: #1e2020; /* Background color of the sidebar */
  color: #fff; /* Text color */
  width: 150px; /* Adjust the width as needed */
  position: fixed;
  height: 100%; /* Make it full height */
  overflow-y: auto; /* Enable scrolling if content exceeds the height */
  transition: width 0.3s; /* Add a transition effect to the width */
  right: 0;
}

.adminNavLinks {
  padding: 20px; /* Padding for the links */
}

.adminNavLinks a {
  display: block;
  color: #fff; /* Text color for links */
  text-decoration: none;
  padding: 10px 0;
  transition: background-color 0.3s; /* Add a transition effect to the background color */
}

.adminNavLinks a:hover {
  background-color: #444; /* Background color on hover */
}

/* Style the active link */
.adminNavLinks a.active {
  background-color: #555;
}

.hidden-label {
  display: none;
}


.history-header{
  padding-top: -20px;
}