
.nav {
  background-color: #55768a;
  color: black;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Center the items vertically */
}

.nav ul li {
  font-size: 18px;
  margin: 0 6px;
  padding: 10px 15px;
}


.nav ul li:last-child {
  margin-right: 0; /* Remove the margin on the last item to prevent extra spacing */
}

.nav ul li a {
  text-decoration: none;
  color: rgb(250, 249, 249);
  transition: color 0.3s ease;
  display: inline-block; /* Add this property */
}

.nav ul li a:hover {
  color: rgb(5, 5, 5);
  transform: scale(1.1);
  text-shadow: 0 0 10px rgb(255, 255, 255); /* Add a glow effect */
}


/* Add a cool hover effect for the navbar */
.nav:hover {
  background-color:  #76a3bd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navbar Title */
.navbar-title {
  margin-left: 50px;
  color: white;
  transition: transform 0.3s ease; /* Add a transition for the transform property */
  font-size: 36px;
  margin-top:20px;
  margin-bottom:20px;
  color: #fff;
  letter-spacing: 1px;
}

.navbar-title:hover {
  transform: scale(1.1); /* Increase the scale on hover */
  text-shadow: 0 0 30px rgb(7, 7, 7);
}


.content {
  padding-top: 50px;
}

.navLink.logout-button {
  color: rgb(252, 250, 250);
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  margin-left: -18px;
  
}
.navLink.logout-button:hover {
  color: #f70505;
  background: none;
  transform: scale(1.1);
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
