/* .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;


  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
} */

.nav {
  background-color: #4bb89d;
  color: black;
  font-size: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Center the items vertically */
}

.nav ul li {
  font-size: 18px;
  margin: 0 6px;
  padding: 10px 15px;
}

.nav ul li:last-child {
  margin-right: 0; /* Remove the margin on the last item to prevent extra spacing */
}

.nav ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: white
}

/* Add a cool hover effect for the navbar */
.nav:hover {
  background-color: #44a88f;
}

/* Add a subtle animation for the navbar items on hover */
.nav ul li a:hover {
  transform: translateY(-3px);
}

/* Add a transition to the navbar shadow on hover */
.nav:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Navbar Title */
.navbar-title {
  margin-left: 40px;
}

.navbar-title h1 {
  margin: 0;
  font-size: 30px;
  color: #fff;
  letter-spacing: 1px;
}

.content {
  padding-top: 50px;
}

.navLink.logout-button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  margin-left: -18px;
  
}
.navLink.logout-button:hover {
  color: #f70505;
  background: none;

}
